* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.loginContainer{
  background-color: rgb(242, 243, 192);
}
button {
  border: none;
  outline: none;
  width: 75px;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: blue;
  cursor: pointer;
  text-align: center;
}
.btnContainer{
  background-color: rgb(242, 243, 192);
}
.welcome{
  background-color: rgb(242, 243, 192);
}
.login {
  width: 50px;
  min-height: 100vh;
  padding: 20 20px;
  display: flex;
  justify-content: center;
}

.login .loginContainer {
  padding: 60px;
  text-align: center;
  width: 100px;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(242, 243, 192);
  
 
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 20;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: center;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: blue;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: rgb(242, 243, 192);
}


.hero nav {
  background: white;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color:blue;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: blue;
}
footer{
  background-color: grey;
  text-align: center;
  color: #f2f2f2;
  padding-top: 0px;
  padding-bottom: 10px;
  
}
Header H1{
  background-color: grey;
  float: left;
  
  
}
Header {
  background-color: grey;
  font-size: xx-large;
  text-align: center;
  overflow: hidden;
}
Header a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
h3{
  text-align: center;
}
h1{ 
  text-align: center;
  color: blue;
}
h4{
  text-align: center;
}
.img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 0%;

}
p{
  color: black;
}

.postForm {
  text-align: center;
  width: 500px;
  clear: both;
  margin: auto;
  width: 30%;
  
  padding: 10px;
  
}

.postForm input {
  text-align: center;
  width: 100%;
  
  clear: both;
}
.description input{
  height: 200px;
}
.community{
  padding-top: 100px;
  padding-bottom: 700px;
  width: auto;
  text-align: center;
  color:Black;
  
}
.exampleImg{
  width: 100px;
  height: 100px;
  text-align: center;
}